.icon-form{
    background: transparent;
}

.ownInput{
    font-size: 15px;

}

.icon-form, .ownInput{
    border: none;
    border-bottom: 2px solid #cdcdcd;
    border-radius: 0;
}
.form-control:focus{
    box-shadow: none !important;
    border-color: #5a7dce ;
}

.border-grey{
    border:1px solid grey;
}

.house-btn{
    border-radius: 0;
    background-image: linear-gradient(to right, #5a7dce , #ccc468);
    border: none;
    padding: .75em;
    box-shadow: 0px 1px 3px 0px #80029e;
    font-weight: 600;
    font-size: 18px;
}

.house-btn:hover{
    cursor: pointer;
    box-shadow:0px 1px 2px 1px #80029e;
    transition: all .7s;
}

.contactBox{
    padding: 1em 0.5em;
    color: white;
}

#purple{
    background: #6d7fbe;
    box-shadow: 0px 1px 3px 0px #6d7fbe;
}

#green{
    background: #6dc076;
    box-shadow: 0px 1px 3px 0px #6dc076;
}

#yellow{
    background: #b0b03d;
    box-shadow: 0px 1px 3px 0px #b0b03d;
}

#social{
    background: #e7f0f5;
    color: #385c75;
    box-shadow: 0px 1px 3px 0px #e7f0f5;
}

.social-link{
    color:  #385c75;
    margin-right: .5em;
}

.wrapper{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}